<%- include ('partials/_header.ejs'); %>

<body class="index">
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Pr치ctica de seguridad en bases de datos (SQL Injection)</a>
    </nav>
    <br>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-block">Sistema de Autenticaci칩n</span></h1>
                <p>Inicia sesi칩n o Registrate</p>
                <a href="/login" class="btn btn-light"><span class="fa fa-user"></span> Inicia sesi칩n</a>
                <a href="/register" class="btn btn-light"><span class="fa fa-user-plus"></span> Registrate</a>
            </div>
        </div>
    </div>



<%- include ('partials/_footer.ejs'); %>